.container {
  background: white;
  display: inline-block;
  border: 5px solid black;
  width: 91%;
}

.grid {
  width: 100%;
}

.cell-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cell {
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  text-align: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  flex: 1 0 19%;
  height: 123px;
  width: 100px;
  align-items: center;
}
